<html>
  <head>
    <title>Stored Value Prototype</title>
    <link rel="stylesheet" href="style.css" type="text/css">
  </head>
  <body>
    <div id="mainContainer">
      <p>
        Stored Value
      </p>
      <ul id="mainUL">
        <li>
          <ul class="rowUL">
            <li id="1" class="clickBox">
              1
            </li>
            <li id="2" class="clickBox">
              2
            </li>
            <li id="3" class="clickBox">
              3
            </li>
            <li id="4" class="clickBox">
              4
            </li>
            <li id="5" class="clickBox">
              5
            </li>
          </ul>
        </li>

        <li>
          <ul class="rowUL">
            <li id="6" class="clickBox">
              6
            </li>
            <li id="7" class="clickBox">
              7
            </li>
            <li id="8" class="clickBox">
              8
            </li>
            <li id="9" class="clickBox">
              9
            </li>
            <li id="10" class="clickBox">
              10
            </li>
          </ul>
        </li>

        <li>
          <ul class="rowUL">
            <li id="11" class="clickBox">
              11
            </li>
            <li id="12" class="clickBox">
              12
            </li>
            <li id="13" class="clickBox">
              13
            </li>
            <li id="14" class="clickBox">
              14
            </li>
            <li id="15" class="clickBox">
              15
            </li>
          </ul>
        </li>

        <li>
          <ul class="rowUL">
            <li id="16" class="clickBox">
              16
            </li>
            <li id="17" class="clickBox">
              17
            </li>
            <li id="18" class="clickBox">
              18
            </li>
            <li id="19" class="clickBox">
              19
            </li>
            <li id="20" class="clickBox">
              20
            </li>
          </ul>
        </li>
      </ul>
    </div>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="index1.js"></script>
  </body>
</html>
